@import "variables", "mixins", "fonts", "reset";

.card {
  position: relative;
  @include card($white, $primary);
  span {
    @include posXY;
  }
}

.slide {
  li {
    height: 300px;
    a {
      display: block;
      height: 100%;
      color: $primary;
    }
  }
}

@import "_main", "_sub1";
